<app-header></app-header>
<hr>
<div class="container bootstrap snippet">
	<div class="row">
		<div class="col-md-4">
			<div class="card" style="width: 18rem;">
  				<div class="card-header text-center">User name</div>
  				<ul class="list-group list-group-flush">
    				<li class="list-group-item text-center">
    					<img src="https://firebasestorage.googleapis.com/v0/b/bren-mk-online.appspot.com/o/profile-default.png?alt=media&token=fd200ebb-cd61-4d17-bd95-6842d7bd0dc0" style="height: 190px;">
    					<h6>Upload a different photo...</h6>
	    				<div class="input-group mb-3">
	  						<div class="custom-file">
	  							<input type="file" class="custom-file-input" id="inputGroupFile02">
	  							<label class="custom-file-label" for="inputGroupFile02"></label>
	  						</div>
	  						<div class="input-group-append">
	  							<span class="input-group-text" id="">Upload</span>
	  						</div>
	  					</div>
    				</li>
    				<li class="list-group-item">
    					<p>
    						<span><strong>First name: </strong></span><span class="float-right">{{customerDetail.firstname}}</span>
    					</p>
    					<p>
    						<span><strong>Last name: </strong></span><span class="float-right">{{customerDetail.lastname}}</span>
    					</p>
    					<p>
    						<span><strong>Email: </strong></span><span class="float-right">{{customerDetail.email}}</span>
    					</p>
    					<p>
    						<span><strong>Phone number: </strong></span><span class="float-right">{{customerDetail.phonenumber}}</span>
    					</p>
    				</li>
  				</ul> 
			</div>
			<br>
          	<div class="card" style="width: 18rem;">
          		<div class="card-header">Activity</div>
          		<ul class="list-group list-group-flush">
          			<li class="list-group-item">
    					<span class="pull-left"><strong>Total orders: </strong></span><span class="float-right">{{totalOrders}}</span>
          			</li>
          			<li class="list-group-item" *ngIf="!isAdmin">
    					<span class="pull-left"><strong>Total reviews: </strong></span><span class="float-right">{{totalReviews}}</span>
          			</li>
                    <li class="list-group-item" *ngIf="isAdmin">
                        <span class="pull-left"><strong>Score reviews: </strong></span><span class="float-right">{{scoreReviews}}</span>
                    </li>
          		</ul>
          	</div>
		</div>
		<div class="col-md-8">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-orders" data-toggle="tab" href="#orders" role="tab" aria-controls="nav-home" aria-selected="true">Orders</a>
					<a class="nav-item nav-link" id="nav-products" data-toggle="tab" href="#products" role="tab" aria-controls="nav-profile" aria-selected="false">Products</a>
					<a class="nav-item nav-link" id="nav-reviews" data-toggle="tab" href="#reviews" role="tab" aria-controls="nav-contact" aria-selected="false">Reviews</a>
				</div>
			</nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="nav-orders">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="col-sm-1">Order #</th>
                                <th scope="col" class="col-sm-3">Product</th>
                                <th scope="col" class="col-sm-3">Address</th>
                                <th scope="col" class="col-sm-3">Status</th>
                                <th scope="col" class="col-sm-2">Actions</th>
            				</tr>
            			</thead>
            			<tbody>
                            <tr>
            					<th scope="row">MKOD140721001-IT140721001</th>
            					<td>Silk dress</td>
            					<td>Pentatlon Mexicano 461, Villa de Guadalupe. C.P. 55339</td>
            					<td>Delivered. <a href="">See history</a></td>
            					<td class="text-center">
            						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            						</svg>
            					</td>
            				</tr>
            				<tr>
            					<th scope="row">MKOD140721001-IT140721002</th>
            					<td>Scarf</td>
            					<td>Pentatlon Mexicano 461, Villa de Guadalupe. C.P. 55339</td>
            					<td>Delivered. <a href="">See history</a></td>
            					<td class="text-center">
            						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            							<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
            						</svg>
            					</td>
            				</tr>
            			</tbody>
        			</table>
				</div>	
                <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="nav-products">
                    <br>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            
                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addProduct">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg> Add a new product
                            </button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
            				<tr>
            					<th scope="col">Product #</th>
            					<th scope="col">Detail</th>
            					<th scope="col">Colors</th>
            					<th scope="col">Sizes</th>
            					<th scope="col">Actions</th>
            				</tr>
        				</thead>
        				<tbody>
            				<tr>
                                <th scope="row">1</th>
        						<td>Silk dress</td>
        						<td></td>
        						<td>XS, S, M, L</td>
        						<td class="text-center">
        							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        							</svg>
        							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        							</svg>
        						</td>
        					</tr>
        					<tr>
        						<th scope="row">2</th>
        						<td>Scarf</td>
        						<td></td>
        						<td>ONE-SIZE</td>
        						<td class="text-center">
        							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        								<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        							</svg>
        							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        							</svg>
        						</td>
        					</tr>
        				</tbody>
            		</table>
				</div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="nav-reviews">
            		<table class="table">
            			<thead>
            				<tr>
        						<th scope="col" class="col-sm-2 text-center">Order #</th>
        						<th scope="col" class="col-sm-2 text-center">Product detail</th>
        						<th scope="col" class="col-sm-4 text-center">Score</th>
        						<th scope="col" class="col-sm-4 text-center">Details</th>
        					</tr>
            			</thead>
        				<tbody>
        					<tr>
        						<th scope="row">MKOD140721001-IT140721001</th>
        						<td>Silk dress</td>
        						<td class="text-center">
        							<span class="fa fa-star" id="star1"></span>
									<span class="fa fa-star" id="star2"></span>
									<span class="fa fa-star" id="star3"></span>
									<span class="fa fa-star" id="star4"></span>
									<span class="fa fa-star" id="star5"></span>
        						</td>
        						<td>Good quality, it looks exactly the same as in pictures.</td>
        					</tr>
        					<tr>
        						<th scope="row">MKOD140721001-IT140721002</th>
        						<td>Scarf</td>
        						<td class="text-center">
        							<span class="fa fa-star" id="star1"></span>
									<span class="fa fa-star" id="star2"></span>
									<span class="fa fa-star" id="star3"></span>
									<span class="fa fa-star" id="star4"></span>
									<span class="fa fa-star" id="star5"></span>
        						</td>
        						<td>I love my scarf. Is comfy and beautiful.</td>
        					</tr>
        				</tbody>
            		</table>
				</div>	
			</div>
    	</div>
	</div>
</div>
<div id="addProduct" class="modal fade" role="dialog">
    <div class="modal-dialog mw-100 w-75">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a new product to the store</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" id="errorAddingProduct" *ngIf="showAlertErrorAddingProduct" ng-show="showAlertErrorAddProduct">
                    There was an error while trying to add the product, please try again.
                </div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputBrand">Brand:</label>
                            <select id="inputBrand" class="form-select form-select-md mb-3">
                                <option selected >Choose a brand...</option>
                                <option>Add a new category</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCategory">Category:</label>
                            <select id="inputCategory" class="form-control form-select form-select-md mb-3">
                                <option selected >Choose a category...</option>
                                <option>Add a new category</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputModel">Model:</label>
                            <input type="text" class="form-control" id="inputModel" #inputModel placeholder="Model">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputDescription">Description:</label>
                            <input type="text" class="form-control" id="inputDescription" #inputDescription placeholder="Description of the product">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPrice">Price (Currency $USD):</label>
                            <input type="text" class="form-control" id="inputPrice" #inputPrice placeholder="$ (USD)">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputKeywords">Keywords (5 maximum):</label>
                            <input type="text" class="form-control" id="inputKeywords" #inputKeywords placeholder="Separated by a comma">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputBrand">Colors:</label>
                            <select id="inputBrand" class="form-control" multiple>
                                <option selected >Choose one or more...</option>
                                <option>Red</option>
                                <option>Pink</option>
                                <option>White</option>
                                <option>Black</option>
                                <option>Add a new color</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCategory">Sizes:</label>
                            <select id="inputCategory" class="form-control" multiple>
                                <option selected >Choose one or more...</option>
                                <option>XS</option>
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>Add a new size</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputStock">Initial stock:</label>
                            <input type="text" class="form-control" id="inputStock" #inputPrice placeholder="Stock">
                        </div>
                    </div>
                    <div class="row">
                        <h4>Load 3 images to your product:</h4>
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th>Main image</th>
                                    <th>Image 2</th>
                                    <th>Image 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>
                                    <div class="mb-3 text-center">
                                        <input class="form-control" type="file" id="mainImage" #mainImage accept='image/*' (change)="preview(mainImage.files, '1')">
                                        <hr>
                                        <img [src]="imgURL" height="150" *ngIf="showMainImage">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3 text-center">
                                        <input class="form-control" type="file" id="image2" #image2 accept='image/*' (change)="preview(image2.files, '2')">
                                        <hr>
                                        <img [src]="imgURL2" height="150" *ngIf="showImage2">
                                    </div>
                                </td>
                                <td>
                                    <div class="mb-3 text-center">
                                        <input class="form-control" type="file" id="image3" #image3 accept='image/*' (change)="preview(image3.files, '3')">
                                        <hr>
                                        <img [src]="imgURL3" height="150" *ngIf="showImage3">
                                    </div>
                                </td>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add product</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>