<div class="container bootstrap snippet">
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3 style="color: #ff8080">All our products</h3>
		</div>
		<div class="col-md-3">
			<h4 style="color: #ff8080">Filter by...</h4>
			<hr>
			<h4 style="color: #ff8080">Brand</h4>
			<form>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">bTrendy</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					<label class="form-check-label" for="defaultCheck2">True colors</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
					<label class="form-check-label" for="defaultCheck3">Classy</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
					<label class="form-check-label" for="defaultCheck4">Snowflake</label>
				</div>
			</form>
			<hr>
			<h4 style="color: #ff8080">Categories</h4>
			<form>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">Dresses</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					<label class="form-check-label" for="defaultCheck2">Coats</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
					<label class="form-check-label" for="defaultCheck3">Winter clothes</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
					<label class="form-check-label" for="defaultCheck4">Pants</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
					<label class="form-check-label" for="defaultCheck5">Skirts</label>
				</div>
			</form>
			<hr>
			<h4 style="color: #ff8080">Colors</h4>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img src="https://firebasestorage.googleapis.com/v0/b/bren-mk-online.appspot.com/o/dress-main.webp?alt=media&token=5d130671-3f05-4e8a-943c-e79c010d7b5b" class="card-img-top" style="height: 253px;" alt="dress-main.png">
						<div class="card-body">
							<h5 class="card-title">Silk dress</h5>
							<p class="card-text">A beautiful silk dress.</p>
							<a href="#" class="btn btn-primary float-right">See more details</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img src="https://firebasestorage.googleapis.com/v0/b/bren-mk-online.appspot.com/o/skirt-main.PNG?alt=media&token=9d2d3c8c-9660-4baa-a12c-5bb17ea0edc7" class="card-img-top" style="height: 253px;" alt="dress-main.png">
						<div class="card-body">
							<h5 class="card-title">Silk dress</h5>
							<p class="card-text">A beautiful silk dress.</p>
							<a href="#" class="btn btn-primary float float-right">See more details</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img src="https://firebasestorage.googleapis.com/v0/b/bren-mk-online.appspot.com/o/scarf-main.jpg?alt=media&token=6b12117a-820c-4e0d-8d5c-0cebccd703f6" style="height: 253px;" alt="dress-main.png">
						<div class="card-body">
							<h5 class="card-title">Silk dress</h5>
							<p class="card-text">A beautiful silk dress.</p>
							<a href="#" class="btn btn-primary float float-right">See more details</a>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img src="https://firebasestorage.googleapis.com/v0/b/bren-mk-online.appspot.com/o/pants-main.jpg?alt=media&token=9330c50b-8e70-49dc-90be-737d416fa7fe" class="card-img-top" style="height: 253px;" alt="dress-main.png">
						<div class="card-body">
							<h5 class="card-title">Silk dress</h5>
							<p class="card-text">A beautiful silk dress.</p>
							<a href="#" class="btn btn-primary float-right">See more details</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img src="https://firebasestorage.googleapis.com/v0/b/bren-mk-online.appspot.com/o/coat-main.png?alt=media&token=70746a23-02aa-4633-ba4e-bfcd46291837" style="height: 253px;" alt="dress-main.png">
						<div class="card-body">
							<h5 class="card-title">Silk dress</h5>
							<p class="card-text">A beautiful silk dress.</p>
							<a href="#" class="btn btn-primary float-right">See more details</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
		</div>
	</div>
</div>