<app-header></app-header>
<div class="container bootstrap snippet">
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3 style="color: #ff8080">All our products</h3>
		</div>
		<div class="col-md-3">
			<h4 style="color: #ff8080">Filter by...</h4>
			<hr>
			<h4 style="color: #ff8080">Brand</h4>
			<form>
				<div class="form-check" *ngFor="let brand of brands; let indexOfelement=index;">
					<div *ngIf="brand.key">
						<input class="form-check-input" type="checkbox" value="{{brand.key}}" id="{{brand.key}}" (change)="filterProducts('brandId', brand.key)">
						<label class="form-check-label" for="{{brand.key}}">{{brand.name}}</label>
					</div>
					
				</div>
			</form>
			<hr>
			<h4 style="color: #ff8080">Categories</h4>
			<form>
				<div class="form-check" *ngFor="let category of categories;">
					<input class="form-check-input" type="checkbox" value="{{category.key}}" id="{{category.key}}" (change)="filterProducts('categoryId',category.key)">
					<label class="form-check-label" for="{{category.key}}">{{category.name}}</label>
				</div>
			</form>
		</div>
		<div class="col-md-9">
			<div *ngIf="rowProducts">
				<div class="alert alert-danger" role="alert" id="errorProduct" *ngIf="rowProducts.length == 0">
					No products found.
				</div>
			</div>
			<div *ngFor="let rowProduct of rowProducts; let indexOfelement=index;">
				<div class="row">
					<div class="col-md-4" *ngFor="let product of rowProduct.products; let indexOfelement=index;">
						<div *ngIf="product.name">
							<div class="card">
								<img src="{{product.images[0].imagepath}}" class="card-img-top" style="height: 253px;" alt="dress-main.png">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<h6 class="card-title">{{product.name}}</h6>
										</div>
										<div class="col-md-6">
											<h6 class="text-end" style="color: #ff8080">${{product.price}}</h6>
										</div>
									</div>
									<a href="/product-detail/{{product.key}}" class="btn btn-primary float-end">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>