<app-header></app-header>
<div class="container bootstrap snippet">
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h3 style="color: #ff8080">All our products</h3>
		</div>
		<div class="col-md-3">
			<h4 style="color: #ff8080">Filter by...</h4>
			<hr>
			<h4 style="color: #ff8080">Brand</h4>
			<form>
				<div class="form-check" *ngFor="let brand of brands; let indexOfelement=index;">
					<input class="form-check-input" type="checkbox" value="{{brand.name}}" id="brand{{indexOfelement}}">
					<label class="form-check-label" for="brand{{indexOfelement}}">{{brand.name}}</label>
				</div>
			</form>
			<hr>
			<h4 style="color: #ff8080">Categories</h4>
			<form>
				<div class="form-check" *ngFor="let category of categories; let indexOfelement=index;">
					<input class="form-check-input" type="checkbox" value="" id="category{{indexOfelement}}">
					<label class="form-check-label" for="category{{indexOfelement}}">{{category.name}}</label>
				</div>
			</form>
			<hr>
			<h4 style="color: #ff8080">Colors</h4>
			<form>
				<div class="form-check" *ngFor="let color of colors; let indexOfelement=index;">
					<a id="color{{indexOfelement}}">
						<div class="row">
							<div class="col-md-2">
								<span class="dot" style="background: {{color.hexcode}}" ></span> 
							</div>
							<div class="col-md-10">
								<label class="form-check-label"> {{color.name}}</label>
							</div>
						</div>
					</a>
				</div>
			</form>
		</div>
		<div class="col-md-9">
			<div *ngFor="let rowProduct of rowProducts; let indexOfelement=index;">
				<div class="row">
					<div class="col-md-4" *ngFor="let product of rowProduct.products; let indexOfelement=index;">
						<div *ngIf="product.name">
							<div class="card">
								<img src="{{product.images[0].imagepath}}" class="card-img-top" style="height: 253px;" alt="dress-main.png">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<h6 class="card-title">{{product.name}}</h6>
										</div>
										<div class="col-md-6">
											<h6 class="text-end" style="color: #ff8080">${{product.price}}</h6>
										</div>
									</div>
									<a href="/product-detail/{{product.id}}" class="btn btn-primary float-end">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>